@import '../../../../foundation/spacing/spacing';
@import '../../../../foundation/colors/colors';
@import '../../../../foundation/borders/borders';

// Shared Vars
@import '../../../shared_vars';

$transition-base: 250;
$transition-step: 75;

.mobileNav {
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;

  .sliderContainer {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    align-items: flex-end;
    margin-top: 50px;

    .slide {
      pointer-events: all;
      transform: translateX(100%);
      transition: transform #{$transition-base}ms ease-in-out, background-color 150ms ease-in-out;

      &:nth-child(1) {
        transition-delay: #{0 * $transition-step}ms;
      }

      &:nth-child(2) {
        transition-delay: #{1 * $transition-step}ms;
      }

      &:nth-child(3) {
        transition-delay: #{2 * $transition-step}ms;
      }

      &:nth-child(4) {
        transition-delay: #{3 * $transition-step}ms;
      }

      &:nth-child(5) {
        transition-delay: #{4 * $transition-step}ms;
      }
    }
  }

  .overlay {
    position: absolute;
    // This does not have as much support
    // But it looks good and its only visual,
    // therefore not needed
    backdrop-filter: blur(2px);

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    background-color: rgba($grey-scale-light-100, 0.85);
    opacity: 0;
    transition: opacity #{$transition-base}ms linear;
    transition-delay: #{$transition-base + (4 * $transition-step)}ms;
  }

  .textOverlay {
    position: absolute;
    padding: #{$spacing-30}px;
    z-index: -1;
    height: 100%;
    width: 100%;
    pointer-events: none;
    

    .text {
      transition: transform #{$transition-base}ms ease-in-out;
      transition-delay: 0ms;
      transform: translateX(calc(-100% - #{$spacing-30 * 2}px));
      height: 75%;
      width: auto;
    }
  }

  &.open {
    pointer-events: all;

    .sliderContainer {
      .slide {
        transform: translateX(0px);
      }
    }

    .topContainer {
      transform: translateY(0px);
    }

    .textOverlay {
      .text {
        transform: translateX(0px);
        transition-delay: #{$transition-base}ms;
      }
    }

    .overlay {
      opacity: 1;
      transition-delay: 0ms;
      
    }
  }
}