@import '../../foundation/spacing/spacing';
@import '../../foundation/colors/colors';

$breakpoint-1: 360;

.footer {
  padding: #{$spacing-40}px;
  max-width: #{$clamp-lg}px;
  margin: auto;

  .linksSection {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto 1fr;
    margin-bottom: #{$spacing-30}px;

    .link:nth-child(1) {
      grid-column: 2;
    }

    .link:nth-child(2) {
      grid-column: 3;
    }

    .link:nth-child(3) {
      grid-column: 4;
    }

    .link:nth-child(4) {
      grid-column: 5;
    }
  }

  .accountsSection {
    display: flex;
    justify-content: center;
    margin-bottom: #{$spacing-30}px;
  }

  .copyrightSection {
    display: flex;
    justify-content: center;
    margin-bottom: #{$spacing-30}px;

    .copyright {
      color: $grey-scale-dark-100;
      text-align: center;
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .footer {
    .linksSection {
      grid-template-columns: 1fr auto auto 1fr;
      grid-template-rows: auto auto;

      .link:nth-child(1) {
        grid-column: 2;
        grid-row: 1;
      }
  
      .link:nth-child(2) {
        grid-column: 3;
        grid-row: 1;
      }
  
      .link:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
      }
  
      .link:nth-child(4) {
        grid-column: 3;
        grid-row: 2;
      }
    }
  }
}