@import '../../../../foundation/spacing/spacing';

.conclusionSection {
  .conclusionContainer {
    max-width: #{$clamp-md}px;
    margin: auto;

    .header {
      text-align: center;
    }

    .contentContainer {
      max-width: #{$clamp-sm}px;
      margin: auto;
      
      .content {
        text-align: left;
      }
    }
  }
}