@import '../../foundation/spacing/spacing';
@import '../../foundation/colors/colors';

$breakpoint-one: 1350;
$breakpoint-two: 980;
$breakpoint-three: 650;

.heroContainer {
  display: grid;
  grid-template-columns: 1000px 1fr;
  grid-template-rows: auto 200px auto;

  .socialLinksContainer {
    display: flex;
    margin-top: #{$spacing-60}px;

    .iconBtn {
      margin-right: #{$spacing-30}px;
      // font-size: 28px;
      color: $complement-300;

      .icon {
        font-size: 24px;
        font-weight: normal;
      }
    }
  }

  .showcaseTwoContainer {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    position: relative;
    z-index: -2;

    .showcaseTwo {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      opacity: 0.1;
    }
  }

  .showcaseOneContainer {
    grid-row: 1 / span 3;
    grid-column: 2 / span 2;
    position: relative;
    z-index: -1;

    .showcaseOne {
      position: absolute;
      width: 100%;
      height: 100%;
      animation: hoverMotion 3s ease-in-out infinite;
    }
  }

  .contentContainer {
    grid-column: 1;
    grid-row: 3;
    z-index: 2;

    .title {
      margin-bottom: #{$spacing-50}px;
    }

    .subtitle {
      font-weight: normal;
      margin-bottom: #{$spacing-70}px;
      font-family: 'Open Sans';
    }

    .actions {
      .main {
        margin-right: #{$spacing-30}px;
      }
    }
  }
}



@media screen and (max-width: #{$breakpoint-one}px) {
  .heroContainer {
    grid-template-columns: 2fr 1fr;

    .contentContainer {
      .title {
        font-size: 3.5rem;
      }
  
      .subtitle {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-two}px) {
  .heroContainer {
    grid-template-columns: 1fr 25vw;
    grid-template-rows: auto 150px auto;
    overflow: hidden;
  
    .socialLinksContainer {
      grid-row: 1;
      grid-column: 1;
    }
  
    .showcaseTwoContainer {
      grid-row: 1 / span 3;
      grid-column: 1 / span 2;
      
      .showcaseTwo {
        width: auto;
        height: 100%;
      }
    }
  
    .showcaseOneContainer {
      grid-row: 1 / span 3;
      grid-column: 2;
  
      .showcaseOne {
        width: auto;
        height: 100%;
      }
    }
  
    .contentContainer {
      grid-row: 3;
      grid-column: 1;
  
      .title {
        font-size: 2.5rem;
      }
  
      .subtitle {
        // display: none;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-three}px) {
  .heroContainer {
    grid-template-columns: 1fr 15vw;
    grid-template-rows: auto auto auto;

    .socialLinksContainer {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0px;
    }
  
    .contentContainer {
      margin-top: #{$spacing-60}px;

      .title {
        font-size: 2rem;
      }
  
      .subtitle {
        display: none;
      }
  
      .actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .main {
          margin-right: 0px;
          margin-bottom: #{$spacing-30}px;
        }
      }
    }
  }
}

@keyframes hoverMotion {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}
