@import '../../foundation/spacing/spacing';
@import '../../foundation/colors/colors';
@import '../../foundation/typography/typography';

// Utils
@import '../../utils/mixins';

// Organisms
@import '../../organisms/page_section/styles.module';

$breakpoint-one: 850;

.failedFormSection {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .failedFormContainer {
    max-width: #{$clamp-md}px;
    margin: 0px auto;
    display: grid;
    grid-template-rows: 450px $title-size-10 auto;
    grid-template-columns: 1fr 1fr;

    .bgContainer {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      z-index: -1;
      position: relative;
      display: flex;
      justify-content: center;

      .bg {
        opacity: 0.15;
        height: 100%;
        width: auto;
      }
    }

    .showcaseContainer {
      grid-column: 1 / span 2;
      grid-row: 1;
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .showcase {
        height: 100%;
        width: auto;
      }
    }

    .headerContainer {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
      display: flex;
      flex-direction: column;
      align-items: center;

      .header {
        text-align: center;
      }

      .subheader {
        text-align: center;
        @include useBodyFont;
        max-width: #{$clamp-xs}px;
        margin-bottom: #{$spacing-80}px;
      }

      .actionContainer {
        display: flex;
        justify-content: center;
      }
    }

    .infoContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: #{$spacing-30}px;
      gap: #{$spacing-30}px;
      width: 100%;
      margin-bottom: #{$spacing-60}px;
  
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .infoAction {
          background-color: $complement-300;
          margin-bottom: #{$spacing-60}px;
  
          .icon {
            color: $grey-scale-light-100;
          }
        }
  
        .infoDetails {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-one}px) {
  .failedFormSection {
    .failedFormContainer {
      .infoContainer {
        grid-template-columns: 1fr;
  
        grid-gap: #{$spacing-80}px;
        gap: #{$spacing-80}px;
      }
    }
  }
}