@import '../../../../foundation/colors/colors';

.indicator {
  .circle {
    fill: $grey-scale-dark-100;
    filter: url(#navbar_indicator);
  }

  .circleDev {
    fill: black;
    opacity: 0.25;
  }
}