@import '../../foundation/spacing/spacing';
@import '../../foundation/colors/colors';
@import '../../foundation/borders/borders';


.blockquote {
  border-left: 5px solid $primary-200;
  padding: #{$spacing-30}px;
  margin: 0px;
  margin-bottom: 1rem;

  * {
    color: rgba($grey-scale-dark-300, 0.75)
  }

  p:last-child {
    margin-bottom: 0px;
  }

  p:only-child {
    margin-bottom: 0px;
  }
}