@import '../../foundation/spacing/spacing';

$section-gap: 13vh;

.section {
  &.isClamped {
    max-width: #{$clamp-lg}px;
    margin: auto;
  }

  &.isPadded {
    padding: #{$spacing-50}px;
  }

  &.gutter {
    &.bottom {
      margin-bottom: $section-gap;
    }

    &.top {
      margin-top: $section-gap;
    }

    &.both {
      margin-top: $section-gap;
      margin-bottom: $section-gap;
    }

    &.none {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}