@import '../../foundation/spacing/spacing';
@import '../../foundation/colors/colors';


.caseStudyFeaturedSection {
  .contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
    margin-bottom: 150px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    &:nth-child(2n) {
      .showcaseContainer{
        grid-row: 1;
        grid-column: 2;
      }
  
      .infoContainer {
        grid-row: 1;
        grid-column: 1;
      }
    }

    .showcaseContainer{
      grid-row: 1;
      grid-column: 1;
    }

    .infoContainer {
      grid-row: 1;
      grid-column: 2;
    }
  }
}