@import '../../foundation/colors/colors';

.caseStudyFeaturedSection {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;

  .contentContainer {
    grid-row: 1;
    grid-column: 1;
  }

  .showcaseContainer {
    grid-row: 1;
    grid-column: 2;
    position: relative;
  }
}