@import '../../foundation/spacing/spacing';

// Utils
@import '../../utils/mixins';


.aboutShowcaseSection {
  .aboutShowcaseContainer {
    max-width: #{$clamp-md}px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px auto;
    grid-row-gap: #{$spacing-30}px;
    row-gap: #{$spacing-30}px;

    .bgContainer {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      position: relative;
      display: flex;
      justify-content: center;
      z-index: -1;

      .bg {
        width: 600px;
        height: auto;
        opacity: 0.15;
        
      }
    }

    .showcaseContainer {
      grid-column: 1 / span 2;
      grid-row: 1;
      position: relative;
      display: flex;
      justify-content: center;

      .showcase {
        width: auto;
        height: auto;        
      }
    }

    .headerContainer {
      grid-column: 1 / span 2;
      grid-row: 2;

      .header {
        text-align: center;
      }

      .subheader {
        text-align: center;
        @include useBodyFont;
      }
    }
  }
}