@import '../../foundation/spacing/spacing';
@import '../../foundation/colors/colors';

$breakpoint-1: 1100;

.aboutShowcaseSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: #{$spacing-80}px;
  column-gap: #{$spacing-80}px;

  .showcaseContainer {
    position: relative;
    display: flex;
    justify-content: stretch;

    .showcase {
      width: 100%;
      height: auto;
    }
  }

  .bioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 2.75rem;
    }

    .content {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .aboutShowcaseSection {
    grid-template-columns: 1fr;
    grid-row-gap: #{$spacing-80}px;
    row-gap: #{$spacing-80}px;
  }
}