@import '../../foundation/spacing/spacing';
@import '../../foundation/colors/colors';

$avatar-size: 200;
$content-clamp: 250;

$breakpoint-1: 960;
$breakpoint-2: 675;

.socialSkillsSection {
  .skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: #{$spacing-30}px;
    grid-column-gap: #{$spacing-30}px;
  
    .socialSkill {
      .avatarContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: #{$spacing-30}px;
  
        .avatar {
          height: #{$avatar-size}px;
          width: auto;
        }
      }
  
      .contentContainer {
        max-width: #{$content-clamp}px;
        margin: auto;

        .content {
          text-align: center;
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .socialSkillsSection {
    .skillsContainer {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: #{$spacing-80}px;
      grid-row-gap: #{$spacing-80}px;
    
      .socialSkill {
        &:nth-child(1) {
          grid-row: 1;
          grid-column: 2 / span 2;
        }
  
        &:nth-child(2) {
          grid-row: 2;
          grid-column: 1 / span 2;
        }
  
        &:nth-child(3) {
          grid-row: 2;
          grid-column: 3 / span 2;
        }
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-2}px) {
  .socialSkillsSection {
    .skillsContainer  {
      grid-template-columns: 1fr;
      row-gap: #{$spacing-80}px;
      grid-row-gap: #{$spacing-80}px;
    
      .socialSkill {
        &:nth-child(1) {
          grid-row: 1;
          grid-column: 1;
        }
  
        &:nth-child(2) {
          grid-row: 2;
          grid-column: 1;
        }
  
        &:nth-child(3) {
          grid-row: 3;
          grid-column: 1;
        }
  
        .avatarContainer {
  
          .avatar {
            height: auto;
            width: 75%;
          }
          
        }
      }
    }
  }
}