@import '../../foundation/spacing/spacing';
@import '../../foundation/colors/colors';
@import '../../foundation/borders/borders';

.card {
  padding: #{$border-radius-round}px;
  background-color: $grey-scale-dark-300;
  border-radius: 50px;
  overflow: hidden;
}